# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
dump.rdb

# Node files
.lock-wscript
node_modules
.npm
.node_repl_history

# Sublime specifics
*.sublime-project
*.sublime-workspace

# Project files
api/_global-config.js